#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_INSTALL_PREFIX=/opt/roboparty \
		-DCMAKE_PREFIX_PATH=/opt/roboparty \
		-DCMAKE_BUILD_TYPE=Release

override_dh_install:
	dh_install
	install -d debian/roboparty-imu/opt/roboparty/bin
	install -m 755 init_imu.sh debian/roboparty-imu/opt/roboparty/bin/
	if [ -d etc/udev/rules.d ]; then \
		install -d debian/roboparty-imu/etc/udev/rules.d; \
		cp etc/udev/rules.d/*.rules debian/roboparty-imu/etc/udev/rules.d/ 2>/dev/null || true; \
	fi
